@import "tailwindcss";

@theme {
  --color-primary: #64ffda;
  --color-secondary: #ff6347;
  --color-bg: #1a1a1a;
  --color-text-main: #e6f1ff;
  --color-text-sec: #8892b0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-main);
}
